.panel {
  display: none;
}

.align {
  padding: 10px;
  width: 200px;
  margin-left: 30%;
  margin-right: 30%;
  border: 2px;
  color: #000;
  background-color: #8FD8D8;
  font-family: georgia;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}

.left {
  padding: 10px;
  width: 100px;
  border: 2px;
  color: #000;
  margin-left: 5%;
  background-color: #8FD8D8;
  font-family: georgia;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  float: left;
}

.right {
  padding: 10px;
  width: 150px;
  border: 2px;
  color: #000;
  margin-right: 5%;
  background-color: #8FD8D8;
  font-family: georgia;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  float: right;
}

.jumbotron {
  padding-top: 20px;
  text-align: center;
  text-decoration-style: wavy;
  font-size: 20px;
  margin-top: 10px;
  background-color: #C1CDCD;
  font-family: georgia;
  font-style: italic;
  font-weight: bold;
}

.panel-heading {
  font-weight: bold;
  background-color: #8FD8D8;
}

.panel-body {
  padding-left: 30px;
  font-family: georgia;
  font-weight: 500;
  font-size: 18px;
}

#footer {
  height: 100px;
}

#result {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: georgia;
}
